<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Config" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PermitirContingencia" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EstadoContingencia" value="0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UltimaFactura" value="0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UltimoTicket" value="0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UltimoPago" value="0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UltimaNC" value="0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UltimoCliente" value="0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UltimaApertura" value="0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UltimoAlivio" value="0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UltimoCierreCajero" value="0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UltimoCierreVentas" value="0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>    
  </appSettings>
</configuration>