<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="EntityFramework.Extended" version="6.1.0.121" targetFramework="net45" />
  <package id="EPPlus" version="3.1.3.3" targetFramework="net40" />
  <package id="ini-parser" version="2.1.1" targetFramework="net45" />
  <package id="InlineRegularExpressionBuilder.DebugPackage" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.TeamFoundation.WorkItemTracking.Client" version="11.0.50727.3" targetFramework="net45" />
  <package id="NLog" version="3.1.0.0" targetFramework="net45" />
  <package id="NLog.EntityFramework" version="1.0.0" targetFramework="net40" />
  <package id="NLog.Extended" version="3.1.0.0" targetFramework="net45" />
  <package id="nuget-bot.Microsoft.TeamFoundation.Client" version="12.0.21005.3" targetFramework="net45" />
  <package id="nuget-bot.Microsoft.TeamFoundation.Common" version="12.0.30501.1" targetFramework="net45" />
  <package id="nuget-bot.Microsoft.TeamFoundation.Diff" version="12.0.30501.1" targetFramework="net45" />
  <package id="nuget-bot.Microsoft.VisualStudio.Services.Client" version="12.0.21005.1" targetFramework="net45" />
  <package id="nuget-bot.Microsoft.VisualStudio.Services.Common" version="12.0.21005.1" targetFramework="net45" />
  <package id="nuget-bot.Microsoft.VisualStudio.Services.WebApi" version="12.0.21005.1" targetFramework="net45" />
  <package id="SemanticGit.Changelog" version="1.0.2" targetFramework="net45" />
  <package id="System.Linq.Dynamic" version="1.0.3" targetFramework="net45" />
</packages>